.strikened{
    text-decoration: line-through;
}
.image{
    height: 10%;
    width: 10%;
    display: inline-block; 
    margin-left: 2%;
    margin-top: 2%;
}
body{
    background-color: orange;
}