.pink {
    margin: 15px;
    padding: 0px;
    width: 99%;
    height: 200px;
    background-color: #F5C6D6;
}

.dark-pink {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 0px;
    width: 24%;
    height: 200px;
    background-color: #EE2E84;
}

.blue {
    display: inline-block;
    width: 49%;
    height: 200px;
    background-color: #85CFD8;
    margin: 5px;
    box-sizing: border-box;
}

.green{
    background-color: #8DC63F;
    height: 200px;
    display: inline-block;
    width: 75%;
    margin: 5px;
}

.orange{
    display: inline-block;
    background-color:#E76E34;
    height: 200px;
    width: 23%; 
    margin: 5px;
}