body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
}

p {
    color: #eeeeee;
}

.credits {
    text-decoration: underline;
    color: #49DAFF;
}

#film-description {
    font-style: italic;
    font-size: smaller;
    cursor: pointer;

}