#firstname{
    padding: 5px;
    width: 80%;
}

#lastname{
    padding: 5px;
    margin: 8px;
    width: 82%;
} 

#age{
    padding: 5px;
    width: 89%;
} 

.cb{
    display: block;
}

.top{
    margin-top: 25px;
}

#container{
    width: 40%;
}

/* span{
    display: block;
} */